html, body{
    max-width: 1200px;
    margin: auto;
    padding: 0;
    background-color: #fff1c4;
    height: 100%;
    font-family: arial;
   
}
h4, h2{
	color : #411400;
}

.top{
    background-color: #411400;
    margin: auto;
    padding: 15px;
    height: 200px;
    border-radius: 30px 30px 0px 0px;
}
.top img{
    margin-left: 100px;
    height: auto;
    float: left;
}
#slogan{
    height: 65px;
    line-height: 65px;
    font-size: 40px;
    margin-right: 20px;
    text-align: center;
    font-style: italic bold;
	color : #ffeba8;
}
#menu, #menu ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
}
#menu li{
    display:inline-block;
    position:relative;
    margin-left: -4px;
}
#menu ul li{
    display:inherit;
}
#menu ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}
#menu li:hover ul{
    max-height:15em;
}
/* background des liens menus */
#menu, #menu li{
    background-image:-webkit-linear-gradient(top, #803c02 0%, #411400 100%);
    background-image:linear-gradient(to bottom, #803c02 0%, #411400 100%);
}
/* background des liens sous menus */
#menu li li{
    background:#efc067;
}

/* background des liens menus et sous menus au survol */
#menu li:hover, #menu li li:hover{
    background:#904200;
}
/* les a href */
#menu a{
    text-decoration:none;
    display:block;
    padding:8px 32px;
    color:#fff;
}
#menu ul a{
    padding:8px 0;
}
#menu li:hover li a{
    color:#fff;
    text-transform:inherit;
}
#menu li:hover a, #menu li li:hover a{
    color:#000;
}
.contenu{
    min-height: 100%;
    /* equal to footer height */
    margin: 0 auto -40px;
}

   /*background-image:-webkit-linear-gradient(top, #ffeba8 0%, #ffefb9 100%);
    background-image:linear-gradient(to bottom, #ffeba8 0%, #ffefb9 100%);*/
.wrapper{
    min-height: 400px;
	background-image:-webkit-linear-gradient(top, #ffeba8 0%, #ffefb9 100%);
    background-image:linear-gradient(to bottom, #ffeba8 0%, #ffefb9 100%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
	overflow: auto;
}
.footer, .push{
    line-height: 40px;
    height: 40px; 
}
.footer{
    background-color: #482100;
    text-align: center;
}
