.tableAnn, .tableAnn td, .tableAnn th{
	border: solid 1px black;
	border-collapse: collapse;
	text-align: center;
}

.tabledom{
    
    border: none;
}

.tabledom td{
	padding-left : 10px;
	padding-right: 10px;
    padding-bottom: 10px;
    
}
.repondre{
	text-decoration: none;
	color: white;
	background-color: #863535;

}

.chkbox{
    
    width : 30px;
}

.rechercher{
    width : 100px;
    margin-top: 20px;
    display: block;
    position: relative;
    margin-left: 250px;
}
.competences{
    height :100%;
    width : fit-content;
    margin : auto;
}