.competences{
    height :100%;
    width : fit-content;
    margin : auto;
}

table{
    padding-top: 30px;
}

td{
    padding-left : 10px;
    padding-bottom: 12px;
    
}
.checkbox{
    background-color: blue;
    width : 30px;
}

.niveau {
    width : 130px;    
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    text-align: left;
    margin-right : 15px;
    float : right;
}
