span {
    display: inline-block;
    width: 120px;
    margin-right: -15px;
    vertical-align: top;
    text-align: left;
}

input[type=text] {
    width: 150px;
    vertical-align: top;
}
.bouton{
    float : right;
    margin-right: 40px;
    width : 50px;
}

.annotation {
    font-size: 12px;
    font-style: italic;
}

.coordonees {
    height :100%;
	width : 40%;
	margin-right :auto;
	padding : 10px;
    margin-left: 15%;
}
